/* /Components/AccButton.razor.rz.scp.css */


button[b-3ovlsysl72] {
  border: none;
  justify-content: space-around;
  color: inherit;
  /* Add a text color
    /* cursor: pointer; /* Add a pointer cursor on mouse-over */
  padding: 0px;
  cursor: pointer;
  /* Add a pointer cursor on mouse-over */
  background-color: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  height: 100%;
  margin: inherit;
  border-radius: inherit;
}

/* AccButton #slot { */
/* display: flex; */
/* display: row; */
/* align-items: center; */
/* align-content: center; */
/* } */

.success[b-3ovlsysl72] {
  background-color: #4CAF50;
}

.success:hover[b-3ovlsysl72] {
  background-color: #46a049;
}

.info[b-3ovlsysl72] {
  background-color: #2196F3;
}

.info:hover[b-3ovlsysl72] {
  background: #0b7dda;
}

.warning[b-3ovlsysl72] {
  background-color: #ff9800;
}

.warning:hover[b-3ovlsysl72] {
  background: #e68a00;
}

.danger[b-3ovlsysl72] {
  background-color: #f44336;
}

.danger:hover[b-3ovlsysl72] {
  background: #da190b;
}

.default[b-3ovlsysl72] {
  background-color: none;
  color:none;
}
.default:hover[b-3ovlsysl72] {
  background: rgb(83, 83, 83);
}

/* AccButton .ripple {
    position: absolute;
    background: rgba(0, 0, 0, .25);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
  }
  
  AccButton .ripple.show {
    -webkit-animation: ripple .5s ease-out;
    animation: ripple .5s ease-out;
  } */

/* @-webkit-keyframes ripple {
    to {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  @keyframes ripple {
    to {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0;
    }
  } */
/* /Components/AccHeader.razor.rz.scp.css */
[b-pvhxaak432][b-3n1kn2mqlp] {
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    max-height: 10vh; 
     /*background-color: burlywood;*/ 
  align-items: center;
  /* box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 71%); */
  border-bottom: gray solid 1px;
  /* align-content: space-between; */
  /* align-self: flex-start; */
  justify-content: space-between;  

  font-size: x-large;
  /* background-color: hotpink; */
}

#backimg[b-3n1kn2mqlp] {
  border-bottom: none;
}

#back[b-3n1kn2mqlp] {
    display: flex;
    /* align-items: flex-start; */
    /*background-color: blueviolet;*/
    background-color: inherit;
    /* font-size: var(--header-actionbutton-fontsize);*/

    border: none;
    /*color: inherit;*/
    /*padding: 0px;*/
    /*cursor: pointer;*/
    /*background-color: inherit;*/
    /*font-weight: inherit;*/
    /*font-family: inherit;*/
    /*font-size: inherit;*/
    /*margin: inherit;*/
    /*border-radius: inherit;*/
}

#slot[b-3n1kn2mqlp] {
  display: flex;
  
  /* align-items: center; */
  /* align-items: stretch; */
  justify-content: space-around;
  align-content: center;
  align-self: center;
  width: 100%;
  font-weight: bold;
  border-bottom: none;
}
/* /Components/AccPage.razor.rz.scp.css */
[b-nlucmekph4][b-p72rhd97rp] {
  min-height: 98vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* /Components/AccSwitch.razor.rz.scp.css */
/* The switch - the box around the slider */
[b-88y00dqlk6][b-dcl621964r] {
  display: flex;
  /* flex:1; */
  flex-direction: row;
  align-content: center;
  align-items: center;
  /* align-self: center; */
  /* justify-content: center; */
  color: black;
}

/* ::deep #containerSwitch { */
  /* display: flex; */
  /* align-content: center; */
  /* align-items: center; */
  /* align-self: center; */
  /* justify-content: center; */
  /* padding: 10px; */
/* } */

[b-dcl621964r] label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  color: darkslateblue;
}

[b-dcl621964r] #childcontent{
  margin-left: 5px;
}

/* Hide default HTML checkbox */

#deep input[b-dcl621964r] {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

[b-dcl621964r] #roundSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

[b-dcl621964r] #roundSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

[b-dcl621964r] #input:checked+#roundSlider {
  /* background-color: #2196F3; */
  background: #89669b;
}

[b-dcl621964r] #input:focus+#roundSlider {
  /* box-shadow: 0 0 1px #2196F3; */
  box-shadow: 0 0 1px #89669b;
}

[b-dcl621964r] #input:checked+#roundSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

[b-dcl621964r] #roundSlider {
  border-radius: 34px;
}

[b-dcl621964r] #roundSlider:before {
  border-radius: 50%;
}

[b-dcl621964r] #ChildContent {
  background-color: aqua;
}
/* /Components/SudokuBoard.razor.rz.scp.css */
[b-8gmzn7itkl][b-yjids2836n] {
    /* margin: 1vw; */
    display: flex;
    flex-direction: column;
    flex: 1;
    /* width: calc(height)px; */
    /* height: calc(75vh);     */
}

.sudoku-board[b-yjids2836n] {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

.sudoku-board .row[b-yjids2836n] {
            display: flex;
            flex: 1;
            flex-direction: row;
            /* align-items: center; */
            /* justify-content: center; */
        }

.sudoku-board .cell[b-yjids2836n] {
            flex: 1;
            display: flex;
            /* justify-content: center; */
            /* min-width: 10.5vw; */
            /* max-width: 10.5vw; */
            /* min-height: 10vw; */
            /* max-height: 10vw; */
        }

.sudoku-board .row0[b-yjids2836n] {
            /* border-top: black; */
            border-top-style: solid;
        }

.sudoku-board .row1[b-yjids2836n], .row4[b-yjids2836n], .row7[b-yjids2836n] {
            /* border-top: black; */
            border-top-style: dotted;
        }

.sudoku-board .row2[b-yjids2836n], .row5[b-yjids2836n], .row8[b-yjids2836n] {
            /* border-top: black; */
            border-top-style: dotted;
            border-bottom: black;
            border-bottom-style: solid;
        }

.sudoku-board .column0[b-yjids2836n] {
            border-left: black;
            border-left-style: solid;
        }

.column1[b-yjids2836n], .column4[b-yjids2836n], .column7[b-yjids2836n] {
        border-left: black;
        border-left-style: dotted;
    }

.sudoku-board .column2[b-yjids2836n], .column5[b-yjids2836n], .column8[b-yjids2836n] {
        border-left: black;
        border-left-style: dotted;
        border-right: black;
        border-right-style: solid;
    }

.area-selected[b-yjids2836n] {
        background-color: rgb(248, 247, 244);
    }

.sameValueAsTheOneSelected[b-yjids2836n] {
    /*background-color: rgb(248, 246, 244);*/
    background-color: azure;
}

.selected[b-yjids2836n] {
    /*background-color: papayawhip;*/
    background-color: aqua;
}

.UniquePossibleValue[b-yjids2836n] {
        background-color: rgb(237, 242, 245);
    }

.UniqueOccurenceInZone[b-yjids2836n] {
        background-color: rgb(240, 250, 235);
    }

.chenillardCol[b-yjids2836n] {
        /* background-color:cyan; */
        background-color: antiquewhite;
        /* background: linear-gradient(to top, burlywood); */
        /* background-size: 300% 300% ; */
        /* background-position: top bottom; */
        /* transition: background-color 0.2s ease; */
    }

.incorrect[b-yjids2836n] {
        background-color: burlywood;
    }


/* /Components/SudokuBoardCell.razor.rz.scp.css */
[b-7i0vnbjja1][b-i00ln4f7ic] {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column;   */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* margin: auto; */
    overflow: hidden;
    position: relative;
}



    .sudoku-board-cell-draft[b-i00ln4f7ic] {
        display: flex;
        flex: 1 1 0;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        /* flex-direction: column;   */
        /* text-align: center; */
        /* vertical-align: middle; */
        /* margin: auto; */
    }

    .rowdraft[b-i00ln4f7ic] {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        /* justify-content: center; */
        /* flex-direction: column;   */
        /* text-align: center; */
        /* vertical-align: middle; */
        /* margin: auto; */
    }

.celldraft[b-i00ln4f7ic] {
    flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "draft";
    font-size: var(--draftvalue-fontsize);
    font-weight: bold;
    /* color: slategrey; */
    color: var(--draftvalue-color);
}

    .possibleValue[b-i00ln4f7ic] {
        /* background-color: yellow; */
        flex: 1;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        font-size: var(--draftvalue-fontsize);
        font-weight: bold;
        color: black;
    }

    .sudoku-board-cell[b-i00ln4f7ic] {
        /* background-color: violet; */
        flex: 1;
        display: flex;
        justify-content: center;
        /* width: 100%; */
        /* height:100%; */
    }

        .sudoku-board-cell .value[b-i00ln4f7ic] {
            margin: auto;
            font-size: var(--value-fontsize);
            line-height: var(--value-fontsize);
            /* color: slategrey; */
            color: var(--value-color);
        }


    .initialvalue[b-i00ln4f7ic] {
        /* text-decoration: underline; */
        color: slategrey;
    }

    /**
*  RIPPLE
*/

    .ripplex[b-i00ln4f7ic] {
        position: absolute;
        background: rgba(0, 0, 0, .25);
        /* background:blue; */
        border-radius: 100%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        pointer-events: none;
    }

        .ripplex.show[b-i00ln4f7ic] {
            -webkit-animation: ripple .5s ease-out;
            animation: ripple-b-i00ln4f7ic .5s ease-out;
        }

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes ripple-b-i00ln4f7ic {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
/* /Components/SudokuKeyboard.razor.rz.scp.css */
#keyboard[b-ff6bp2mnsi] {
  margin: 0px;
  border: none;
  /*display: flex;*/
  flex-direction: column;
}

.keyicon[b-ff6bp2mnsi] {
    font-size: var(--keyboard-value-icon-fontsize);
    line-height: var(--keyboard-value-icon-fontsize);
    color: var(--keyboard-value-color);
    display: flex;
    flex:1;
}

.value[b-ff6bp2mnsi] {
  /* background-color: aqua; */
  font-size: var(--keyboard-value-fontsize);
  line-height: var(--keyboard-value-fontsize);
  color: var(--keyboard-value-color);
  /* margin: auto; */
}

.row[b-ff6bp2mnsi] {
  display: flex;
  flex-direction: row;
}

.row .key[b-ff6bp2mnsi] {
  /* background-color: aqua; */
  /* align-items: stretch;
  align-content: center; */
  /* border-style: dotted; */
  border-radius: 1vw;
  font-size: var(--keyboard-value-fontsize);
  /* min-width: 9vw; */
  /* max-width: 9vw; */
  /* min-height: 5vh; */
  /* max-height: 5vh; */
  flex: 1;
  /* margin: 0.3vw; */
  display: flex;
  justify-content: center;
  display: flex;
  overflow: hidden;
}


.key:hover[b-ff6bp2mnsi] {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .1);
  transform: translateY(-2px);
}

/* .key-board .hidden {
  visibility: hidden;
} */


.draftkey[b-ff6bp2mnsi] {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1px;
  border-style: dotted;
}

.draftkeyrow[b-ff6bp2mnsi] {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px;
  /* background-color: aqua; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column;   */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* margin: auto; */
}


 .draftkeyvalue[b-ff6bp2mnsi] {
  /* background-color: yellow; */
  flex: 1;
  margin: 0px;
  font-family: 'draft';
  font-size: var(--keyboard-draftvalue-fontsize);
  color: var(--keyboard-draftvalue-color);
}

 .ripplex[b-ff6bp2mnsi] {
  position: absolute;
  background: rgba(0, 0, 0, .25);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

 .ripplex.show[b-ff6bp2mnsi] {
  -webkit-animation: ripple .5s ease-out;
  animation: ripple-b-ff6bp2mnsi .5s ease-out;
}

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes ripple-b-ff6bp2mnsi {
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
/* /Pages/Page.About.razor.rz.scp.css */
/* /Pages/Page.Config.razor.rz.scp.css */
[b-8si62nq9ee] .switch{
    /* background-color: aquamarine; */
    padding: 5px;
}
/* /Pages/Page.Home.razor.rz.scp.css */
#title[b-riltciwhlx] {
    display: flex;
    justify-content: center;
    flex-direction: column;

    flex: 1;
    font-size: 20vw;
    line-height: 15vw;
    min-height: 15vw;
    align-self: center;
    padding: 5px;
    align-items: center;
    /* margin:auto; */
    /* padding:15px; */
    /* align-content: center; */
    /* align-items: center; */
}

[b-riltciwhlx] #bottom {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    /* color: #ff11ff; */
    background-color: cyan;
}

[b-riltciwhlx] button {
    height: 15vh;
    font-size: 6vh;
    color: white;
    /* background-color: chartreuse; */
    margin: 5px 0px 5px 0px;
    /* border-radius: 10px; */
    /* padding: 0px 5px 0px 5px; */
    /* padding: 5px; */
    /* font-size: xx-larger; */
}


#version[b-riltciwhlx] {
    flex: 1;
    display: flex;
    color: darkgray;
    flex-direction: column;
    /* align-self: center; */
    /* align-content: center; */
    text-align: center;
}
/* /Pages/Page.NewBoard.razor.rz.scp.css */
#content[b-57m9811mcb] {
    display: flex;
    justify-content: center;
    flex-direction: column;

    flex: 1;
    /* font-size: 20vw; */
    line-height: 15vw;
    min-height: 15vw;
    align-self: center;
    padding: 5px;
    align-items: center;
    /* margin:auto; */
    /* padding:15px; */
    /* align-content: center; */
    /* align-items: center; */
}

[b-57m9811mcb] button {
    font-size: 8vh;
    margin: 5px 0px 5px 0px;
    display: flex;
    text-align: center;
    /* background-color: yellow; */
    color: white;
}
/* /Pages/Page.Sudoku.razor.rz.scp.css */
div#game[b-p2q3rw3d2m] {
    /* max-width: 600px; */
    /*max-height: 500px;*/
    /*background-color: aqua;*/
    /*width: calc(75vh * 1.77);*/
    /*height: 75vh;*/
  }
  
  .btn[b-p2q3rw3d2m] {
    font-size: 3vh;
    padding-left: 0;
    height: unset;
    /* remove height for better alignment */
    min-width: unset;
    /* remove min-width for better alignment */
    max-width: unset;
    /* remove min-width for better alignment */
    /* background-color: yellow; */
    /* padding: 10px; */
  }
  
  .draft[b-p2q3rw3d2m] {
    width: 4vw;
    height: 4vw;
  }
  
  /* sudoku-page acc-header { */
    /* background: #5851ff; */
    /* color: white; */
    /* max-height: 5vh; */
    /* min-height: 50px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* align-self: center; */
    /* justify-content: center; */
    /* font-size: x-large; */
  /* } */
  
  #newGame[b-p2q3rw3d2m] {
    flex-direction: column;
    /* flex:1; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  #newGame p[b-p2q3rw3d2m] {
    /* flex-direction: column; */
    /* flex:1; */
    font-size: 4vh;
    margin: 20px;
  }
  
  #newGame>button[b-p2q3rw3d2m] {
    /* flex-direction: column; */
    /* flex:1; */
    font-size: 4vh;
  }
  
/*#playimg {
    margin: 5px;
  }*/
  
  sudoku-page acc-page acc-timer[b-p2q3rw3d2m] {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 4vh;
    color: black;
    /* padding: 0 12px; */
  }
  
  #pause[b-p2q3rw3d2m], #settings[b-p2q3rw3d2m], #play[b-p2q3rw3d2m] {
    /*background-color: aqua;*/
     display: flex; 
     flex: 1; 
     max-height:10vh;
    /* flex-direction: column; */
    /* height: 100%;  */
    /*align-items: center;*/
    justify-content: center;
    /* flex-direction: column; */
    /* text-align: center; */
    /* vertical-align: middle; */
    cursor: pointer;
    /* width: 100%; */
    /* height: 80vh; */
  }
  
  /* sudoku-page #pause { */
    /* width: 25vw; */
    /* height: 25vh; */
  /* } */
  
  sudoku-page .headeractionbutton[b-p2q3rw3d2m]{
    font-size: var(--header-actionbutton-fontsize);
  }
  
  #newGame[b-p2q3rw3d2m] {
    height: 5vh;
  }
  
  sudoku-page #pause acc-icon[b-p2q3rw3d2m] {
    font-size: 128px;
    /* width: 240px; */
    /* height: 240px; */
    /* margin: auto; */
  }
  
  sudoku-page [slot="front"][b-p2q3rw3d2m] {
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    /* font-size: 50vh; */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* cursor: pointer; */
  }
