@page "/about"
@using Sudoku.Components

@inherits AboutBase

<AccPage>
    <AccHeader backbutton OnClickBackButton="NavigateToHome">
        About
    </AccHeader>
    <h1>Version: @State.Value.Version</h1>
</AccPage>
