@page "/config"
@inherits ConfigPage

<AccPage>
    <AccHeader backbutton OnClickBackButton="NavigateToGame">
        Need an help?
    </AccHeader>
    <div id="content">
        <AccSwitch id="showidenticalnumber"
            class="switch"
            valueChecked="@ShowIdenticalNumber"
            OnChangeCallback="ToggleShowIdenticalNumber">Show identical number</AccSwitch>

        <AccSwitch id="showerrornouscells"
            class="switch"
            valueChecked="@ShowErrornousCells"
            OnChangeCallback="ToggleShowErrornousCells"
            >Show errornous cells</AccSwitch>

        <AccSwitch id="highlightuniquecandidateinzone"
            class="switch"

            valueChecked="@HighlightCellWithUniqueCandidate"
            OnChangeCallback="ToggleHighlightCellWithUniqueCandidate"
            >Show errornous cells</AccSwitch>

    </div>
</AccPage>