@page "/"
@page "/home"
@inherits Sudoku.Pages.HomePage

<AccPage>
    <div id="title">
        <div>Sudoku</div>
        <div>Master</div>
    </div>

    <div id="bottom">
        @if (GameOnGoing)
        {
            <AccButton id="Continue" 
                success
                OnClickCallback="NavigateToSudokuPage">Continue</AccButton>
        }
        <AccButton id="NewGame" 
            success=@(!GameOnGoing)
            info=@(GameOnGoing)
            OnClickCallback="NavigateToCreateNewBoardPage">New Game</AccButton>
        <AccButton id="About" 
            info 
            OnClickCallback="NavigateToAboutPage">About</AccButton>
    </div>
</AccPage>