@page "/newboard"
@inherits NewBoardBase

<button id="back" class="btn btn-light backBtn pull-left" @onclick="NavigateToHome">Back</button>
<h1>Create a new Board</h1>
<button id="easy" class="btn btn-light" @onclick="@( e => CreateNewBoardAndNavigateToTheGamePage(Board.SudokuLevelType.easy) )">Easy</button>
<button id="medium" class="btn btn-light" @onclick="@( e => CreateNewBoardAndNavigateToTheGamePage(Board.SudokuLevelType.medium) )">Medium</button>
<button id="expert" class="btn btn-light" @onclick="@( e => CreateNewBoardAndNavigateToTheGamePage(Board.SudokuLevelType.complex) )">Expert</button>
<button id="master" class="btn  btn-light" @onclick="@( e => CreateNewBoardAndNavigateToTheGamePage(Board.SudokuLevelType.veryComplex) )">Master</button>