/*#title {
    display: flex;
    justify-content: center;
    flex-direction: column;

    flex: 1;
    font-size: 20vw;
    line-height: 15vw;
    min-height: 15vw;
    align-self: center;
    padding: 5px;
    align-items: center;
*/    /* margin:auto; */
    /* padding:15px; */
    /* align-content: center; */
    /* align-items: center; */
/*}*/

/*::deep #bottom {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: cyan;
}

::deep button {
    height: 15vh;
    font-size: 6vh;
    color: white;
    margin: 5px 0px 5px 0px;
}


#version {
    flex: 1;
    display: flex;
    color: darkgray;
    flex-direction: column;
    text-align: center;
}*/