@page "/sudoku"
@inherits SudokuPage
@using Sudoku.Components

<MudAppBar Class="pl-0">
    <MudIconButton Class="pl-0 ml-0"
                   Icon="@Icons.Filled.ArrowBackIosNew"
                   aria-label="back"
                   Color=Color.Inherit
                   Size=MudBlazor.Size.Large
                   OnClick="NavigateToHome">
    </MudIconButton>

    <MudContainer Class="d-flex align-center">
        <MudText Class="d-flex flex-grow-1 justify-space-around"
                 Typo="Typo.h5"
                 Align="Align.Center">
            @(TimerValueString)
        </MudText>

            <MudIconButton Class="d-flex"
                       Icon="@Icons.Filled.PauseCircleOutline"
                       Color=Color.Inherit
                       aria-label="pause"
                       Size=MudBlazor.Size.Large
                       OnClick="NavigateToHome"></MudIconButton>
        <MudIconButton Class="d-flex"
                       Icon="@Icons.Filled.Settings"
                       Color=Color.Inherit
                       aria-label="setting"
                       Size=MudBlazor.Size.Large
                       OnClick="NavigateToConfiguration">
        </MudIconButton>

    </MudContainer>
</MudAppBar>

<MudContainer Class="pa-1">
    <div id="game"
         class="displayYes">

        @if (Board is not null)
        {
            <SudokuBoard id="sudokuboard"
                     board=@(Board)
                     selectedCell=@(CellSelected)
                     lastCellOfTheGame=@(LastCellOfTheGame)
                     @*incorrectCells=@(IncorrectCells)*@
                     solvedRow=@(RowSolved)
                     solvedCol=@(ColSolved)
                     solvedBlock=@(BlockSolved)
                     gameOnGoing=@(GameOnGoing)
                     solutionsByRules=@(SolutionsByRules)
                     wizardConfiguration=@(WizardConfiguration)
                     OnCellSelection="(cellNumberCustomEvent) => dispatchCellSelection(cellNumberCustomEvent)">
            </SudokuBoard>

            <SudokuKeyboard id="keyboard"
                        class=@(GameOnGoing ? "displayYes" : "displayNone")
                        OnClearClicked="ClearCellClicked"
                        OnUndoClicked="UndoClicked"
                        OnNumberClicked="(keyCustomeEvent) => NumberTyped(keyCustomeEvent)"
                        OnDraftNumberClicked="(draftNumberClicked) => DraftNumberTyped(draftNumberClicked)"
                        remainingNumbers=@(RemainingNumbers)
                        hideClearKey=@(ShouldHideClearKey())
                        hideUndoKey=@(!GameOnGoing)>
            </SudokuKeyboard>
        }
        <div id="newGame"
             class=@(GameOnGoing ? "displayNone" : "displayYes")>
            <p>Good game! Play again?</p>
            <AccButton id="newGame"
                       stylesuccess
                       OnClickCallback="NavigateToNewboard">
                Newboard
            </AccButton>
        </div>
    </div>
</MudContainer>