@page "/newboard"
@inherits NewBoardBase

<AccPage>
    <AccHeader id="header" backbutton OnClickBackButton="NavigateToHome">
        Start a new Board
    </AccHeader>
    <div id="content">
        <h1>Which challenge will you succeed?</h1>
        <AccButton id="easy" 
            info 
            OnClickCallback="@( e => CreateNewBoardAndNavigateToTheGamePage(Board.SudokuLevelType.easy) )">Easy
        </AccButton>
        <AccButton id="medium"
            info 
            OnClickCallback="@( e => CreateNewBoardAndNavigateToTheGamePage(Board.SudokuLevelType.medium) )">Medium
        </AccButton>
        <AccButton id="expert" info
            OnClickCallback="@( e => CreateNewBoardAndNavigateToTheGamePage(Board.SudokuLevelType.complex) )">Expert
        </AccButton>
        <AccButton id="master" info
            OnClickCallback="@( e => CreateNewBoardAndNavigateToTheGamePage(Board.SudokuLevelType.veryComplex) )">Master
        </AccButton>

    </div>
</AccPage>