@page "/config"
@inherits ConfigBase

<div class="container-xxl my-md-4 bd-layout">
    <nav class="navbar navbar-dark bg-dark">
        @* <div class="container-fluid"> *@
        <button id="back" @onclick="NavigateToHome">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path
                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg>
            </span>
        </button>
        <h1>Need an help?</h1>
        @* </div> *@
    </nav>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="showidenticalnumber"
            checked="@ShowIdenticalNumber"
            @onchange="ToggleShowIdenticalNumber">
        <label class="form-check-label" for="showidenticalnumber">Show identical number</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="showerrornouscells"
            checked="@ShowErrornousCells"
            @onchange="ToggleShowErrornousCells">
        <label class="form-check-label" for="showerrornouscells">Show errornous cells</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="highlightuniquecandidateinzone"
            checked="@HighlightCellWithUniqueCandidate"
            @onchange="ToggleHighlightCellWithUniqueCandidate">
        <label class="form-check-label" for="highlightuniquecandidateinzone">Highlight unique candidate in row, column or zone</label>
    </div>
</div>