@page "/sudoku"
@inherits SudokuPage
@using Sudoku.Components

<AccPage>
    <AccHeader id="header" backbutton OnClickBackButton="NavigateToHome">
        <span>Timer tick here</span>
        @if (GameInPause)
        {
            <div id="play"
             @onclick="ResumeGame">
                <img src="assets/source_icons_play-outline.svg" />
            </div>
        }
        else
        {
            <div id="pause"
             @onclick="PauseGame">
                <img src="assets/source_icons_pause-outline.svg" />
            </div>
        }
        <div id="settings"
             @onclick="NavigateToConfiguration">
            <img src="assets/source_icons_settings.svg" />
        </div>
    </AccHeader>
    <div id="game"
         class=@(GameInPause ? "displayNone" : "displayYes")>

        @if (Board is not null)
        {
            <SudokuBoard id="sudokuboard"
                     board=@(Board)
                     selectedCell=@(CellSelected)
                     lastCellOfTheGame=@(LastCellOfTheGame)
                     @*incorrectCells=@(IncorrectCells)*@
                     solvedRow=@(RowSolved)
                     solvedCol=@(ColSolved)
                     solvedBlock=@(BlockSolved)
                     gameOnGoing=@(GameOnGoing)
                     solutionsByRules=@(SolutionsByRules)
                     wizardConfiguration=@(WizardConfiguration)
                     OnCellSelection="(cellNumberCustomEvent) => dispatchCellSelection(cellNumberCustomEvent)">
            </SudokuBoard>

            <SudokuKeyboard id="keyboard"
                        class=@(GameOnGoing ? "displayYes" : "displayNone")
                        OnClearClicked="ClearCellClicked"
                        OnUndoClicked="UndoClicked"
                        OnNumberClicked="(keyCustomeEvent) => NumberTyped(keyCustomeEvent)"
                        OnDraftNumberClicked="(draftNumberClicked) => DraftNumberTyped(draftNumberClicked)"
                        remainingNumbers=@(RemainingNumbers)
                        hideClearKey=@(ShouldHideClearKey())
                        hideUndoKey=@(!GameOnGoing)>
            </SudokuKeyboard>
        }
        <div id="newGame"
             class=@(GameOnGoing ? "displayNone" : "displayYes")>
            <p>Good game! Play again?</p>
            <AccButton id="newGame"
                       stylesuccess
                       OnClickCallback="NavigateToNewboard">
                Newboard
            </AccButton>
        </div>
    </div>
    <div id="bigplay"
         class=@(GameInPause ? "displayYes" : "displayNone")
         @onclick="ResumeGame">
        <img id="playimg" src="assets/source_icons_play-outline.svg" />
    </div>
</AccPage>
