@inherits AccHeaderBase

<MudAppBar>
    @if (backbutton)
    {
        <MudIconButton 
            Icon="@Icons.Filled.ArrowBackIosNew" 
            aria-label="back"
            OnClick = "onClickBackButtonHandler"
        ></MudIconButton>
        <span id="slot">@ChildContent</span>
    }
    else {
        @ChildContent
    }
</MudAppBar>