@inherits AccHeaderBase

<div class="AccHeader">
    @if (backbutton)
    {
        <button id="back"
            @onclick = "onClickBackButtonHandler">
            <img src="assets/source_icons_nav-arrow-left.svg" />
        </button>
        <div id="slot">@ChildContent</div>
    }
    else {
        @ChildContent
    }
</div>