@inherits AccHeaderBase

<div class="AccHeader">
    @if (backbutton)
    {
        <button id="back"
            @onclick = "onClickBackButtonHandler">
            <img id="backimg" src="assets/source_icons_nav-arrow-left.svg" />
        </button>
        <span id="slot">@ChildContent</span>
    }
    else {
        @ChildContent
    }
</div>