@page "/about"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h1>Version</h1>

<p>Version: @State.Value.Version</p>

@* <button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@
